# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Arduino specific build outputs and preferences
*.prefs
.arduino-create-cache/

# Operating system files
.DS_Store
Thumbs.db

# Altium Designer specific ignores
*.PrjPcb*
Project Outputs for*
*.outjob
*.DRL
*.GBR
*.RPT
*.LOG
History/
CMPLIB/
LIBREF/
Output/
*.PcbDoc.backup*
*.SchDoc.backup*

# SolidWorks specific ignores
*.swp
*.idw
_SolidWorks_*
sldedb.mdb
*.sldlfp
*.sldlrt
*.sldprt.asv*
*.sldasm.asv*
*.slddrw.asv*
*.lck
*.tlb
*.xref
Backup of*
